.product-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}


* {margin:0; padding:0; box-sizing:border-box; font-family:'Segoe UI',sans-serif;}
body {background:#f8f8f8; color:#222;}
nav {background:white; padding:20px 60px; display:flex; justify-content:space-between; align-items:center; box-shadow:0 4px 12px rgba(0,0,0,0.05);}
nav .social-top a {margin-left:20px; color:#222; text-decoration:none; font-weight:bold;}

.hero {display:flex; justify-content:space-between; align-items:center; padding:80px; background:white;}
.hero img {width:400px; border-radius:16px;}
.hero-text h1{font-size:48px;margin-bottom:20px;}
.hero-text p{font-size:18px;color:#555;margin-bottom:30px;}
.btn{padding:14px 28px;background:black;color:white;text-decoration:none;border-radius:30px;}

.products {display:flex; flex-wrap:wrap; justify-content:center; gap:40px; padding:60px;}
.product-card{background:white; padding:40px; border-radius:16px; width:350px; box-shadow:0 10px 30px rgba(0,0,0,0.06); transition:0.3s;}
.product-card:hover{transform:translateY(-5px); box-shadow:0 15px 40px rgba(0,0,0,0.1);}
.product-card h2{margin:15px 0;}
.badge{background:crimson;color:white;padding:6px 14px;border-radius:20px;font-size:14px;}
.badge.gold{background:gold;color:black;}
.price{margin:15px 0;}
.cut{text-decoration:line-through;color:#999;margin-right:10px;font-size:18px;}
.sale{color:#000;font-size:28px;font-weight:bold;}
.advance{color:#444;margin-bottom:15px;}
.desc{color:#555; margin-bottom:15px; line-height:1.5;}
form input,form textarea,form select{width:100%; padding:12px; margin:10px 0; border-radius:8px; border:1px solid #ccc;}
form button{width:100%; padding:14px; background:black; color:white; border:none; border-radius:30px; font-size:16px; cursor:pointer; transition:0.3s;}
form button:hover{background:#333;}
.stock{color:crimson; font-weight:bold;}
.about, .contact{padding:70px; text-align:center; background:white; margin-top:40px;}
.contact a{color:black;font-weight:bold;}
